html,
body {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  background: url(../public/wood.png) 0 0 repeat;
}
.im-active img {
  background-color: #333;
}
#im-content {
  width: 85%;
  margin-right: 322px;
  background-color: #fff;
  min-height: 100%;
  margin: 50px 0 50px;
  -webkit-box-shadow: 6px 0px 23px 11px rgba(0, 0, 0, 0.53);
  -moz-box-shadow: 6px 0px 23px 11px rgba(0, 0, 0, 0.53);
  box-shadow: 6px 0px 23px 11px rgba(0, 0, 0, 0.53);
}
#im-content img:hover {
  opacity: 0.8;
}
.im-content-inside {
  margin-top: 30px;
}
.im-content-inside .content-text section,
.im-content-inside .content-text p {
  font-size: 16px;
  line-height: 30px;
}
.im-content-inside .im-border-top {
  border-top: 2px solid #ccc;
}
.menu nav ul li a {
  font-size: 17px;
}
.menu nav ul li.active {
  border-bottom: 2px solid #28a745;
}
.menu nav ul li.separator {
  padding: 7px;
}
.menu nav ul li.separator i {
  color: #eee;
  font-size: 7px;
}
.footer-sitemap .navbar-nav {
  margin: 0 auto;
}
.footer-sitemap .navbar-nav li.separator {
  padding: 7px;
}
.footer-sitemap .navbar-nav li.separator i {
  color: #eee;
  font-size: 7px;
}
.objects:not(.logo) .object {
  margin-bottom: 10px;
}
.objects:not(.logo) .object img {
  width: 100%;
}
.objects:not(.logo) .object .carousel i {
  font-size: 40px;
}
.objects:not(.logo) .object .title section {
  font-size: 17px;
}
.objects:not(.logo) .object .text section,
.objects:not(.logo) .object .text p {
  font-size: 15px;
  line-height: 28px;
}
.about {
  position: absolute;
  width: 300px;
  right: 15%;
  top: 120px;
  z-index: 1;
}
.about .carousel-caption {
  display: none !important;
}
#cookie {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 10px;
  background-color: #333;
  opacity: 0.8;
  width: 100%;
  height: 60px;
  z-index: 1;
  color: #fff;
}
.social-media {
  position: fixed;
  left: 15px;
  top: 300px;
  z-index: 1;
}
.social-media .object {
  opacity: 0.9;
  padding: 8px 3px 5px;
  margin-top: 1px;
  background: #333;
  z-index: 12;
  text-align: center;
}
.social-media .object i {
  color: #fff;
  font-size: 24px;
}
.row-1 .object,
.row-3 .object,
.row-1 .title-col-text,
.row-3 .title-col-text {
  border: 20px solid #fff;
}
.row-2 .object,
.row-2 .title-col-text {
  border: 20px solid #eee;
}
.row-1 .object .row:first-child {
  border-bottom: 2px solid #4da65b;
  margin: 0;
  margin-bottom: 15px;
}
.row-1 .object .row:first-child section {
  font-size: 24px;
}
.title-col-text {
  position: absolute;
  font-size: 26px;
  text-align: center;
  margin-bottom: 10px;
  left: -159px;
}
.row-1 .title-col-text {
  padding: 0 6px 0;
  top: 53px;
}
.row-2 .title-col-text {
  padding: 0 14px 0;
  top: 20px;
}
.row-3 .title-col-text {
  padding: 0 16px 0;
  top: 0;
}
.im-content-inside .objects {
  position: relative;
}
.im-background {
  padding: 10px;
  background-color: #eee;
}
@media (max-width: 992px) {
  .separator,
  .footer-sitemap {
    display: none;
  }
}
@media (max-width: 1630px) {
  .title-col-text {
    position: unset;
  }
}
/*# sourceMappingURL=main.css.map */