#im-content{
  width: 85%;
  margin-right: 322px;
  background-color: @white;
  min-height: 100%;
  margin: 50px 0 50px;
  .content-shadow();
  img:hover{
    opacity: 0.8;
  }
}
.im-content-inside{
  margin-top: 30px;
  .content-text{
    section, p {
      font-size: 16px;
      line-height: 30px;
    }
  }
  .im-border-top {
    border-top: 2px solid @gray;
  }
}
.menu{
  nav{
    ul{
      li{
        a{
          font-size: 17px;
        }
      }
      li.active{
        border-bottom: 2px solid @success;
      }
      li.separator{
        i {
          color: @light-gray;
          font-size: 7px;
        }
        padding: 7px;
      }
      li.dropdown{
        section#im_section-name-4{
          float: left;
          margin-right: 3px;
        }
      }
    }
  }
}
.dropdown-menu, .submenu .navbar-nav{
  i{
    float: left;
    margin-right: 7px;
    font-size: 21px;
  }
}
.footer-sitemap{

  .navbar-nav {
    margin: 0 auto;
    li.separator {
      i {
        color: @light-gray;
        font-size: 7px;
      }

      padding: 7px;
    }

  }

}
.objects:not(.logo) {
  .object {
    margin-bottom: 10px;
    img {
      width: 100%;
    }
    .carousel {
      i {
        font-size: 40px;
      }
    }
    .title{
      section{
        font-size: 17px;
      }
    }
    .text{
      section, p{
        font-size: 15px;
        line-height: 28px;
      }
    }
  }
}
.about{
  position: absolute;
  width: 300px;
  right: 15%;
  top: 120px;
  z-index: 1;
  .carousel-caption{
    display: none !important;
  }
}
#cookie{
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 10px;
  background-color: @black;
  opacity: 0.8;
  width: 100%;
  height: 60px;
  z-index: 1;
  color: @white;
}
.social-media{
  position: fixed;
  left: 15px;
  top: 300px;
  z-index: 1;
  .object{
    opacity: 0.9;
    padding: 8px 3px 5px;
    margin-top: 1px;
    background: @black;
    z-index: 12;
    text-align: center;
    i{
      color: @white;
      font-size: 24px;
    }
  }
}
.row-1, .row-3 {
  .object, .title-col-text{
    border: 20px solid @white;
  }
}
#home {
  .row-1 {
    .object {
      .row:first-child {
        margin: 0;
        margin-bottom: 15px;
        section {
          font-size: 24px;
        }
      }
    }
  }
  .row-2 {
    .object, .title-col-text{
      border: 20px solid @light-gray;
    }
  }
}
.title-col-text {
  position: absolute;
  font-size: 26px;
  text-align: center;
  margin-bottom: 10px;
  left: -159px;
}
.row-1{
  .title-col-text{
    padding: 0 6px 0;
    top: 53px;
  }
}
.row-2{
  .title-col-text{
    padding: 0 14px 0;
    top: 20px;
  }
}
.row-3{
  .title-col-text{
    padding: 0 16px 0;
    top: 0;
  }
}
.im-content-inside {
  .objects {
    position: relative;
  }
}
.im-background{
  padding: 10px;
  background-color: @light-gray;
}
#home, #skladniki {
  .form-group{
    display: none;
  }
}
.section-title{
  i{
    font-size: 24px;
    margin-right: 5px;
  }
}